<html>
    <head>
        <center><h1>Objective Type Question Generator</h1></center>
    </head>
    <body>
        <h2>Enter the text here :</h2>
        <form name = "passdata" action="." method="POST" enctype="multipart/form-data"> 
            <textarea id = "para" name="paragraph" cols="85" rows="16">Type here</textarea>
            <br>
        <h2>Or</h2>
            <label for="myfile">Select a file:</label>
            <input type="file" name="myfile"><br>
            <input type="submit">
        </form> 
    </body>
</html>
